body,html,p,h1,h2{padding: 0;margin: 0;}
body,html{
  height: 100%;
  font-size: 12px;
  font-family: Avenir Next,PingFang SC,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,sans-serif;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.header{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.header img.avatar{height: 120px;width: 120px;margin: -120px 0 10px 0;}
.header h1{font-size: 32px;font-weight: 900;}
.header p{color: #969696;font-size: 14px;}
.header .icon {padding: 20px 0 0 0;}
.header .icon svg{height: 21px;width: 21px;fill: #c1c1c1;}
.header .icon a{display: inline-block;margin: 0 5px;}
.header .icon svg.sina{width: 26px;}
.header .icon a:hover svg.sina path{background-color: red;}

